Repository LivInTheLookingGlass/Euler: changes, and which Codecov flags are due for each by the changed paths.
All: C, C++, C#, JavaScript, Python, Rust

Make C++ file io more idiomatic
  cplusplus/src/include/utils.hpp
  docs/conf.py
  docs/src/cplusplus/lib/macros.rst
  docs/src/cplusplus/lib/math.rst
  docs/src/cplusplus/lib/utils.rst
Due: C++

Ignore lib.rs because codecov is seriously getting that file wrong
  .codecov.yaml
  rust/src/lib.rs
Due: Rust

Solve p19 in js
  README.rst
  docs/index.rst
  docs/src/javascript/p0019.rst
  javascript/src/p0019.js
Due: JavaScript

Solve p19 in c, c++
  README.rst
  c/README.rst
  c/src/p0019.c
  c/test.c
  c/test_euler.py
  cplusplus/src/p0019.cpp
  cplusplus/test.cpp
  cplusplus/test_euler.py
  docs/index.rst
  docs/src/c/p0019.rst
  docs/src/cplusplus/p0019.rst
  javascript/README.rst
Due: C, C++, JavaScript

Correct c++ header
  cplusplus/src/p0019.cpp
Due: C++

Correct windows-only error
  cplusplus/src/p0019.cpp
Due: C++

Correct windows-only error
  c/src/p0019.c
Due: C

narrow types where possible
  c/src/p0001.c
  c/src/p0002.c
  c/src/p0003.c
  c/src/p0005.c
  c/src/p0006.c
  c/src/p0007.c
  c/src/p0009.c
  c/test.c
  docs/src/c/p0001.rst
  docs/src/c/p0002.rst
  docs/src/c/p0003.rst
  docs/src/c/p0004.rst
  docs/src/c/p0005.rst
  docs/src/c/p0006.rst
  docs/src/c/p0007.rst
  docs/src/c/p0009.rst
Due: C

Update test files to support multiple types
  c/Makefile
  c/test.c
  cplusplus/Makefile
  cplusplus/test.cpp
Due: C, C++

Have native test runners consume answers.tsv
  c/Makefile
  c/src/include/utils.h
  c/test.c
  cplusplus/Makefile
  cplusplus/src/include/utils.hpp
  cplusplus/test.cpp
  docs/src/c/lib/utils.rst
  docs/src/cplusplus/lib/utils.rst
Due: C, C++

Correct C++ normalization
  docs/conf.py
Due: none

add native_test
  .github/workflows/c.yml
  .github/workflows/cplusplus.yml
  c/Makefile
  c/src/include/utils.h
  cplusplus/Makefile
  cplusplus/src/include/utils.hpp
Due: C, C++

fix windows compile error
  cplusplus/src/include/utils.hpp
  cplusplus/test.cpp
Due: C++

fix windows compilation error
  c/src/include/utils.h
  c/test.c
Due: C

fix windows compilation error
  cplusplus/src/include/utils.hpp
  cplusplus/test.cpp
Due: C++

fix windows compilation error
  cplusplus/src/include/utils.hpp
Due: C++

fix windows compilation error
  c/src/include/utils.h
Due: C

fix windows compilation errors
  c/src/include/utils.h
Due: C

fix windows compilation issue
  c/src/include/utils.h
Due: C

disable native runner on windows
  .github/workflows/c.yml
  c/test.c
Due: C

update docs re: windows compilation errors
  docs/src/c/lib/utils.rst
  docs/src/cplusplus/lib/utils.rst
Due: none

Solve p19 in Java, C#
  README.rst
  csharp/Euler.Test/test.cs
  csharp/Euler/p0019.cs
  csharp/README.rst
  docs/index.rst
  docs/src/csharp/p0019.rst
  docs/src/java/p0019.rst
  java/README.rst
  java/src/main/java/euler/p0019.java
  java/src/test/java/EulerTest.java
Due: C#

Fix typos
  csharp/Euler/p0019.cs
  java/src/main/java/euler/p0019.java
Due: C#

Clear security problems
  java/src/main/java/euler/p0019.java
Due: none

Correct month range
  java/src/main/java/euler/p0019.java
Due: none

tweak some settings, add notes
  docs/conf.py
  docs/src/rust/lib/triangles.rst
Due: none

Prep for emscripten distribution
  c/src/include/macros.h
  c/src/p0000_template.c
  c/src/p0001.c
  c/src/p0002.c
  c/src/p0003.c
  c/src/p0004.c
  c/src/p0005.c
  c/src/p0006.c
  c/src/p0007.c
  c/src/p0008.c
  c/src/p0009.c
  c/src/p0010.c
  c/src/p0011.c
  c/src/p0012.c
  c/src/p0013.c
  c/src/p0014.c
  c/src/p0015.c
  c/src/p0016.c
  c/src/p0017.c
  c/src/p0019.c
  c/src/p0020.c
  c/src/p0022.c
  c/src/p0025.c
  c/src/p0030.c
  c/src/p0034.c
  c/src/p0076.c
  c/src/p0836.c
  c/src/tests/test_compiler_macros.c
  c/test_euler.py
Due: C

fix macro test
  c/test_euler.py
Due: C

Prep for emscripten distribution
  README.rst
  cplusplus/src/include/macros.hpp
  cplusplus/src/p0000_template.cpp
  cplusplus/src/p0001.cpp
  cplusplus/src/p0002.cpp
  cplusplus/src/p0004.cpp
  cplusplus/src/p0006.cpp
  cplusplus/src/p0008.cpp
  cplusplus/src/p0009.cpp
  cplusplus/src/p0011.cpp
  cplusplus/src/p0013.cpp
  cplusplus/src/p0014.cpp
  cplusplus/src/p0015.cpp
  cplusplus/src/p0016.cpp
  cplusplus/src/p0017.cpp
  cplusplus/src/p0019.cpp
  cplusplus/src/p0020.cpp
  cplusplus/src/p0022.cpp
  cplusplus/src/p0034.cpp
  cplusplus/src/p0076.cpp
  cplusplus/src/p0836.cpp
  cplusplus/src/tests/test_compiler_macros.cpp
  cplusplus/test_euler.py
Due: C++

Fix readme
  README.rst
Due: none

Fix includes
  cplusplus/src/p0000_template.cpp
  cplusplus/src/p0001.cpp
  cplusplus/src/p0002.cpp
  cplusplus/src/p0004.cpp
  cplusplus/src/p0006.cpp
  cplusplus/src/p0008.cpp
  cplusplus/src/p0009.cpp
  cplusplus/src/p0011.cpp
  cplusplus/src/p0013.cpp
  cplusplus/src/p0014.cpp
  cplusplus/src/p0015.cpp
  cplusplus/src/p0016.cpp
  cplusplus/src/p0017.cpp
  cplusplus/src/p0019.cpp
  cplusplus/src/p0020.cpp
  cplusplus/src/p0022.cpp
  cplusplus/src/p0034.cpp
  cplusplus/src/p0836.cpp
Due: C++

Fix macro def
  cplusplus/src/include/macros.hpp
Due: C++

Comment out pre-production docs
  README.rst
Due: none

Change test order to (hopefully) fix coverage
  .github/workflows/c.yml
  c/test_euler.py
Due: C

Compile to WebAssembly (experimental)
  .github/workflows/pages.yml
  c/Makefile
  cplusplus/Makefile
  docs/Makefile
Due: C, C++

fix typo
  cplusplus/Makefile
Due: C++

Path conditions:
  C: any of: c/**
  C++: any of: cplusplus/**
  C#: any of: csharp/**
  JavaScript: any of: javascript/**
  Python: any of: python/**
  Rust: any of: rust/**
