Repository LivInTheLookingGlass/Euler: changes, and which Codecov flags are due for each by the changed paths.
All: C, C++, C#, JavaScript, Python, Rust

Fix up and run ESLint
  .github/workflows/eslint.yml
  javascript/Makefile
  javascript/euler.test.js
  javascript/src/p0004.js
  javascript/src/p0006.js
  javascript/src/p0008.js
  javascript/src/p0009.js
  javascript/src/p0011.js
  javascript/src/p0017.js
  javascript/src/p0836.js
  javascript/webpack.config.js
Due: JavaScript

Add placeholder lib file
  javascript/src/lib/primes.js
Due: JavaScript

Have linguist ignore index.html
  .gitattributes
Due: none

Port p76 to js, c#
  README.rst
  csharp/Euler.Test/test.cs
  csharp/Euler/p0076.cs
  docs/csharp/p0076.rst
  docs/index.rst
  docs/javascript/p0076.rst
  javascript/euler.test.js
  javascript/src/p0076.js
Due: C#, JavaScript

Minor optimizations to get around timeout failures
  csharp/Euler/p0076.cs
  javascript/src/p0076.js
Due: C#, JavaScript

Mark 76 as slow in C#, JS (but it's *really* close to 60s)
  .gitignore
  csharp/Euler.Test/test.cs
  docs/index.rst
  javascript/euler.test.js
Due: C#, JavaScript

Fix js mark slow
  javascript/euler.test.js
Due: JavaScript

make timeout failures more explicit
  rust/src/main.rs
Due: Rust

try running c# with optimizations in tests
  csharp/Euler.Test/Euler.Test.csproj
  csharp/Euler/include/primes.cs
Due: C#

Add tests to the browser
  docs/Makefile
  docs/javascript.rst
Due: none

fix typo
  docs/Makefile
Due: none

solve p14 in javascript
  README.rst
  docs/index.rst
  docs/javascript/p0014.rst
  javascript/euler.test.js
  javascript/src/p0014.js
Due: JavaScript

typo
  javascript/src/p0014.js
Due: JavaScript

fix jsdoc (finally)
  javascript/src/p0014.js
Due: JavaScript

fix up eslint errors
  javascript/src/p0014.js
Due: JavaScript

Solve p14, p15 in C#
  README.rst
  csharp/Euler.Test/test.cs
  csharp/Euler/include/math.cs
  csharp/Euler/p0014.cs
  csharp/Euler/p0015.cs
  docs/csharp/p0014.rst
  docs/csharp/p0015.rst
  docs/index.rst
Due: C#

docs typo
  docs/csharp/p0015.rst
Due: none

Re-raise exception if in github
  docs/conf.py
Due: none

Add to gitignore
  .gitignore
Due: none

Stylistic changes + new math tests
  csharp/Euler.Test/test.cs
  csharp/Euler/include/math.cs
  csharp/Euler/p0000_template.cs
  csharp/Euler/p0001.cs
  csharp/Euler/p0002.cs
  csharp/Euler/p0004.cs
  csharp/Euler/p0006.cs
  csharp/Euler/p0008.cs
  csharp/Euler/p0009.cs
  csharp/Euler/p0011.cs
  csharp/Euler/p0014.cs
  csharp/Euler/p0015.cs
  csharp/Euler/p0017.cs
  csharp/Euler/p0076.cs
  csharp/Euler/p0836.cs
Due: C#

Update docs, rst formatting
  README.rst
  docs/index.rst
  docs/javascript.rst
Due: none

Add explicit footnotes
  README.rst
Due: none

Put footnotes back
  README.rst
  docs/index.rst
Due: none

Footnotes are frustrating
  README.rst
Due: none

Finalize footnotes
  README.rst
Due: none

Fix cl argument [no ci]
  cplusplus/test_euler.py
Due: C++

Fix link for GitHub
  README.rst
Due: none

Beginning stages of wasm support [no ci]
  .gitmodules
  README.rst
  c/Makefile
  c/test.c
Due: C

Solve p15 in js
  README.rst
  docs/index.rst
  docs/javascript.rst
  docs/javascript/math.rst
  docs/javascript/p0015.rst
  javascript/euler.test.js
  javascript/src/lib/math.js
  javascript/src/p0015.js
Due: JavaScript

fix jsdoc links
  docs/javascript/math.rst
Due: none

Fix linking problems
  docs/conf.py
  docs/javascript/math.rst
Due: none

fix lint error
  javascript/src/p0015.js
Due: JavaScript

remove pre-release bun
  .github/workflows/javascript.yml
  README.rst
Due: none

Update docs
  javascript/src/lib/math.js
Due: JavaScript

Solve p34 in C#, JS
  README.rst
  csharp/Euler.Test/test.cs
  csharp/Euler/p0034.cs
  docs/c.rst
  docs/cplusplus.rst
  docs/csharp.rst
  docs/csharp/math.rst
  docs/csharp/p0001.rst
  docs/csharp/p0002.rst
  docs/csharp/p0004.rst
  docs/csharp/p0006.rst
  docs/csharp/p0008.rst
  docs/csharp/p0009.rst
  docs/csharp/p0011.rst
  docs/csharp/p0014.rst
  docs/csharp/p0015.rst
  docs/csharp/p0017.rst
  docs/csharp/p0076.rst
  docs/csharp/p0836.rst
  docs/index.rst
  docs/javascript.rst
  docs/javascript/p0015.rst
  docs/javascript/p0034.rst
  docs/python.rst
  javascript/euler.test.js
  javascript/src/p0034.js
Due: C#, JavaScript

Fix eslint error
  javascript/src/p0034.js
Due: JavaScript

Add forgotten file
  docs/csharp/p0034.rst
Due: none

Read _data files from common functions
  csharp/Euler.Test/test.cs
  csharp/Euler/include/utils.cs
  docs/c.rst
  docs/cplusplus.rst
  docs/csharp.rst
  docs/csharp/utils.rst
  docs/javascript.rst
  docs/javascript/utils.rst
  docs/python.rst
  docs/python/p0022.rst
  docs/python/p0042.rst
  docs/python/p0059.rst
  docs/python/p0067.rst
  docs/python/p0081.rst
  docs/python/p0089.rst
  docs/python/p0099.rst
  docs/python/utils.rst
  javascript/euler.test.js
  javascript/src/lib/_utils_fallback.js
  javascript/src/lib/utils.js
  javascript/webpack.config.js
  python/lib/utils.py
  python/p0022.py
  python/p0042.py
  python/p0059.py
  python/p0067.py
  python/p0081.py
  python/p0089.py
  python/p0099.py
Due: C#, JavaScript, Python

Add typing_extensions if python < 3.8
  python/lib/utils.py
  python/requirements.txt
Due: Python

Path conditions:
  C: any of: c/**
  C++: any of: cplusplus/**
  C#: any of: csharp/**
  JavaScript: any of: javascript/**
  Python: any of: python/**
  Rust: any of: rust/**
