Repository LivInTheLookingGlass/Euler: changes, and which Codecov flags are due for each by the changed paths.
All: C, C++, C#, Java, JavaScript, Python, Rust

.codecov.yaml:

ignore:
  - "rust/src/lib.rs"  # codecov seriously screws this one up, and thinks it has >1k lines despite having ~60

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_c  # this is an identifier that should not be changed
      name: C  # this is a display name, and can be changed freely
      paths:
        - c/**
    - component_id: module_cplusplus
      name: C++
      paths:
        - cplusplus/**
    - component_id: module_csharp
      name: C#
      paths:
        - csharp/**
    - component_id: module_java
      name: Java
      paths:
        - java/**
    - component_id: module_javascript
      name: JavaScript
      paths:
        - javascript/**
    - component_id: module_python
      name: Python
      paths:
        - python/**
    - component_id: module_rust
      name: Rust
      paths:
        - rust/**
flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
  individual_flags:
    - name: C
      carryforward: true
      paths:
      - c/**
    - name: Cpp
      carryforward: true
      paths:
      - cplusplus/**

Satisfy linter
  lua/src/lib/primes.lua
Due: none

Debug prime_functions
  lua/src/lib/primes.lua
Due: none

Debug p3, p7
  lua/src/p0007.lua
  lua/test.lua
Due: none

Debug p7, mark p3 as solved
  README.rst
  docs/index.rst
  lua/src/p0007.lua
Due: none

typo
  lua/src/lib/primes.lua
Due: none

typo
  README.rst
  docs/index.rst
  lua/src/p0007.lua
  lua/test.lua
Due: none

Truncate reported time to milliseconds
  lua/test.lua
Due: none

Attempt to compress code
  c/src/p0015.c
  cplusplus/src/p0013.cpp
  cplusplus/src/p0015.cpp
  cplusplus/src/p0017.cpp
Due: C, C++

typo
  cplusplus/src/p0017.cpp
Due: C++

Minor logic error
  cplusplus/src/p0017.cpp
Due: C++

Squash docs warnings/errors
  docs/raw_inv.txt
  docs/src/c/lib/factors.rst
  docs/src/cplusplus/lib/primes.rst
  docs/src/java/lib/math.rst
  docs/src/lua/lib/primes.rst
  docs/src/rust/lib/ranges.rst
  lua/README.rst
Due: none

Add lua coverage in different job
  .github/workflows/lua-cov.yml
  lua/Makefile
  lua/test.lua
Due: none

Add lua coverage in different job (edit)
  .github/workflows/lua-cov.yml
  lua/Makefile
Due: none

Don't run slow tests in coverage measurement
  lua/test.lua
Due: none

Tweak lua coverage runner, add badges to individual readmes
  .github/workflows/lua-cov.yml
  README.rst
  c/README.rst
  cplusplus/README.rst
  csharp/README.rst
  java/README.rst
  javascript/README.rst
  lua/README.rst
  lua/test.lua
  python/README.rst
  rust/README.rst
Due: C, C++, C#, Java, JavaScript, Python, Rust

Tweak table values
  docs/index.rst
Due: none

Solve p11, p13 in lua
  README.rst
  docs/index.rst
  docs/src/lua/p0011.rst
  docs/src/lua/p0013.rst
  lua/README.rst
  lua/src/p0011.lua
  lua/src/p0013.lua
  lua/test.lua
Due: none

Floor division
  lua/src/p0013.lua
Due: none

Solve p15 in lua
  README.rst
  docs/src/lua/lib/math.rst
  docs/src/lua/p0015.rst
  lua/src/lib/math.lua
  lua/src/p0013.lua
  lua/src/p0015.lua
  lua/src/p0028.lua
  lua/src/p0034.lua
  lua/test.lua
Due: none

Refactor
  lua/src/lib/math.lua
  lua/src/p0015.lua
Due: none

Re-disable time limit if using luacov
  lua/test.lua
Due: none

deduplicate code
  docs/src/python/lib/math.rst
  docs/src/python/p0044.rst
  docs/src/python/p0045.rst
  python/src/lib/math.py
  python/src/p0044.py
  python/src/p0045.py
Due: Python

Compress code
  lua/src/lib/primes.lua
  lua/src/p0001.lua
  lua/src/p0002.lua
  lua/src/p0003.lua
  lua/src/p0004.lua
  lua/src/p0006.lua
  lua/src/p0008.lua
  lua/src/p0009.lua
  lua/src/p0011.lua
  lua/src/p0013.lua
  lua/src/p0017.lua
  lua/src/p0028.lua
  lua/src/p0034.lua
  lua/src/p0076.lua
  lua/test.lua
Due: none

Compress code (2)
  lua/src/lib/math.lua
  lua/src/lib/primes.lua
  lua/src/lib/range.lua
  lua/src/p0017.lua
Due: none

Solve p14 in lua
  README.rst
  docs/index.rst
  docs/src/lua/p0014.rst
  docs/src/lua/p0015.rst
  lua/README.rst
  lua/src/p0014.lua
  lua/test.lua
Due: none

Attempt p7 in Java
  README.rst
  docs/index.rst
  docs/src/java/lib/primes.rst
  docs/src/java/p0007.rst
  java/README.rst
  java/src/main/java/euler/lib/Primes.java
  java/src/main/java/euler/p0007.java
  java/src/test/java/EulerTest.java
Due: Java

Attempt p7 in Java (2)
  docs/src/java/lib/primes.rst
  java/src/main/java/euler/lib/Primes.java
  java/src/main/java/euler/p0007.java
Due: Java

Attempt p7 in Java (3)
  java/src/main/java/euler/lib/Primes.java
Due: Java

Attempt p7 in Java (4)
  java/src/main/java/euler/lib/Primes.java
Due: Java

Attempt p7 in Java (5)
  java/src/main/java/euler/lib/Primes.java
Due: Java

Attempt p7 in Java (6)
  java/src/main/java/euler/p0007.java
Due: Java

Attempt p7 in Java (7)
  java/src/main/java/euler/lib/Primes.java
Due: Java

Attempt p7 in Java (8)
  java/src/main/java/euler/p0007.java
Due: Java

Attempt p7 in Java (9)
  java/src/main/java/euler/p0007.java
Due: Java

Attempt p7 in Java (final)
  java/src/main/java/euler/lib/Primes.java
Due: Java

Attempt p10 in Java
  README.rst
  docs/index.rst
  docs/src/java/p0007.rst
  docs/src/java/p0010.rst
  java/README.rst
  java/src/main/java/euler/p0010.java
  java/src/test/java/EulerTest.java
Due: Java

Attempt p3 in Java
  README.rst
  docs/index.rst
  docs/src/java/lib/primes.rst
  docs/src/java/p0003.rst
  java/README.rst
  java/src/main/java/euler/lib/Primes.java
  java/src/main/java/euler/p0003.java
  java/src/test/java/EulerTest.java
Due: Java

Solve p5, p10 in C++; fix Java typo
  README.rst
  cplusplus/README.rst
  cplusplus/src/p0005.cpp
  cplusplus/src/p0010.cpp
  cplusplus/test.cpp
  cplusplus/test_euler.py
  docs/index.rst
  docs/src/cplusplus/p0005.rst
  docs/src/cplusplus/p0010.rst
  java/src/main/java/euler/p0003.java
Due: C++, Java
