Repository LivInTheLookingGlass/Euler: changes, and which Codecov flags are due for each by the changed paths.
All: C, C++, C#, JavaScript, Python, Rust

Fix --cov flag, C++ coverage flag link
  README.rst
  c/Makefile
  cplusplus/Makefile
Due: C, C++

Fix compiler check in upload, CodeQL name
  .github/workflows/c.yml
  .github/workflows/codeql.yml
  c/Makefile
Due: C

Remove coverage upload restriction to measure test runner better
  .github/workflows/c.yml
  .github/workflows/cplusplus.yml
  c/Makefile
  cplusplus/Makefile
Due: C, C++

Move if into loop
  cplusplus/p0034.cpp
Due: C++

try to optimize without fixing primes [no ci]
  c/p0012.c
Due: C

This plus prev commit goes 25m -> 12.5 (-50%) The lesson here is that while you *can* user iterators for everything, you probably shouldn't
  c/p0012.c
Due: C

Move groupwise
  c/original.out
  docs/python/iters.rst
  docs/python/p0008.rst
  docs/python/p0011.rst
  docs/python/p0043.rst
  docs/python/p0047.rst
  docs/python/p0050.rst
  python/lib/iters.py
  python/p0008.py
  python/p0011.py
  python/p0043.py
  python/p0047.py
  python/p0050.py
  python/test_euler.py
Due: C, Python

Move proper_divisors
  docs/python/factors.rst
  docs/python/iters.rst
  docs/python/p0012.rst
  docs/python/p0021.rst
  docs/python/p0023.rst
  docs/python/p0032.rst
  docs/python/p0357.rst
  python/lib/factors.py
  python/lib/primes.py
  python/p0012.py
  python/p0021.py
  python/p0023.py
  python/p0032.py
  python/p0357.py
Due: Python

Move primes_and_negatives
  python/lib/primes.py
  python/p0027.py
Due: Python

Move abundants
  docs/python/p0023.rst
  python/lib/iters.py
  python/p0023.py
Due: Python

Move from_digits
  docs/python/p0055.rst
  python/lib/math.py
  python/p0055.py
Due: Python

Move n_choose_r
  docs/python/p0015.rst
  docs/python/p0053.rst
  python/lib/math.py
  python/p0015.py
  python/p0053.py
Due: Python

Move reduce_triangle
  docs/python/p0018.rst
  docs/python/p0067.rst
  docs/python/triangles.rst
  python/lib/triangles.py
  python/p0018.py
  python/p0067.py
Due: Python

Fix import
  docs/python/p0043.rst
  python/p0043.py
Due: Python

Fix tests
  python/p0047.py
  python/p0050.py
  python/p0055.py
  python/p0057.py
  python/p0357.py
Due: Python

Quick isort fix
  python/p0055.py
Due: Python

Include lib code in index
  docs/python.rst
Due: none

Move triangle to math
  docs/python/p0042.rst
  python/lib/math.py
  python/p0042.py
Due: Python

Reduce cover on unreachable lines
  python/lib/primes.py
  python/p0007.py
  python/p0011.py
Due: Python

Remove moved libs from list
  python/README.rst
Due: Python

Switch to manual cache for better benchmarking
  python/p0014.py
  python/p0047.py
  python/p0057.py
  python/p0081.py
  python/p0092.py
Due: Python

Improvements to docs, digits(), from_digits()
  python/lib/fibonacci.py
  python/lib/iters.py
  python/lib/math.py
Due: Python

move rust library code to subdirectory
  docs/rust/math.rst
  docs/rust/primes.rst
  rust/src/include/math.rs
  rust/src/include/mod.rs
  rust/src/include/primes.rs
  rust/src/main.rs
Due: Rust

fix mypy for manual caching
  python/p0014.py
  python/p0047.py
  python/p0057.py
  python/p0081.py
  python/p0092.py
Due: Python

don't lint
  .github/workflows/python.yml
Due: none

Solve problems 17, 18 in rust
  README.rst
  docs/index.rst
  docs/rust.rst
  docs/rust/p0017.rst
  docs/rust/p0018.rst
  docs/rust/primes.rst
  docs/rust/triangles.rst
  rust/src/include/mod.rs
  rust/src/include/triangles.rs
  rust/src/main.rs
  rust/src/p0017.rs
  rust/src/p0018.rs
Due: Rust

Solve p24 in rust
  docs/index.rst
  docs/rust/p0024.rst
  rust/src/main.rs
  rust/src/p0024.rs
Due: Rust

Correct problem count
  README.rst
Due: none

add stop argument to fix inf loop
  python/lib/iters.py
  python/p0023.py
Due: Python

further constrain types this is in prep for writing a BigInt for p16
  rust/src/include/primes.rs
Due: Rust

Solve problems 69, 77, 87, change test runner
  README.rst
  docs/rust/p0069.rst
  docs/rust/p0077.rst
  docs/rust/p0087.rst
  rust/README.rst
  rust/src/main.rs
  rust/src/p0069.rs
  rust/src/p0077.rs
  rust/src/p0087.rs
Due: Rust

add bun support
  .github/workflows/javascript.yml
  README.rst
  javascript/Makefile
  javascript/test.js
Due: JavaScript

turn off fail-fast
  .github/workflows/javascript.yml
  javascript/test.js
Due: JavaScript

turn off fail-fast
  .github/workflows/javascript.yml
  javascript/Makefile
Due: JavaScript

fix syntax, add help
  .github/workflows/javascript.yml
  javascript/Makefile
Due: JavaScript

change bun versions
  .github/workflows/javascript.yml
  javascript/test.js
Due: JavaScript

don't check coverage before it's supported
  .github/workflows/javascript.yml
  javascript/test.js
Due: JavaScript

update runtime version
  README.rst
Due: none

Path conditions:
  C: any of: c/**
  C++: any of: cplusplus/**
  C#: any of: csharp/**
  JavaScript: any of: javascript/**
  Python: any of: python/**
  Rust: any of: rust/**
