Repository LivInTheLookingGlass/Euler: changes, and which Codecov flags are due for each by the changed paths.
All: C, C++, C#, JavaScript, Python, Rust

Rename answers, make types simplest possible
  _data/answers.csv
  _data/answers.tsv
  csharp/Euler/include/utils.cs
  csharp/Euler/p0001.cs
  csharp/Euler/p0002.cs
  csharp/Euler/p0004.cs
  csharp/Euler/p0006.cs
  csharp/Euler/p0008.cs
  csharp/Euler/p0009.cs
  csharp/Euler/p0011.cs
  csharp/Euler/p0013.cs
  csharp/Euler/p0014.cs
  csharp/Euler/p0015.cs
  csharp/Euler/p0016.cs
  csharp/Euler/p0017.cs
  csharp/Euler/p0020.cs
  csharp/Euler/p0022.cs
  csharp/Euler/p0076.cs
  java/src/main/java/euler/lib/Utilities.java
  javascript/src/lib/utils.js
  python/src/lib/utils.py
  rust/src/include/utils.rs
Due: C#, JavaScript, Python, Rust

Change titles
  docs/_static/test-js.html
  docs/_static/test-py.html
Due: none

More java versions (will prune later)
  .github/workflows/java.yml
  java/Makefile
Due: none

Begin pruning
  .github/workflows/java.yml
  java/Makefile
Due: none

Continue pruning
  .github/workflows/java.yml
  docs/Makefile
  java/Makefile
  java/src/test/java/EulerTest.java
Due: none

Continue pruning
  .github/workflows/java.yml
  README.rst
  java/src/test/java/EulerTest.java
Due: none

update Java version
  README.rst
Due: none

formatting
  README.rst
Due: none

formatting
  java/src/test/java/EulerTest.java
Due: none

Add all data files currently on site
  _data/p0054_poker.txt
  _data/p0082_matrix.txt
  _data/p0083_matrix.txt
  _data/p0096_sudoku.txt
  _data/p0098_words.txt
  _data/p0102_triangles.txt
  _data/p0105_sets.txt
  _data/p0107_network.txt
  _data/p0424_kakuro200.txt
  _data/p0673_beds.txt
  _data/p0673_desks.txt
  _data/p0674_i_expressions.txt
  _data/p0828_number_challenges.txt
Due: none

Minor docs update
  README.rst
  docs/index.rst
Due: none

Enable optimization in testing
  rust/Cargo.toml
  rust/Makefile
  rust/src/main.rs
Due: Rust

Disable time checks on non-ubuntu platforms
  docs/index.rst
  rust/src/main.rs
Due: Rust

Clear compile warnings
  rust/src/main.rs
Due: Rust

Attempt to package rust for the browser Note that this was done in an environment where I cannot test So a failure is not that unexpected
  .github/workflows/pages.yml
  README.rst
  docs/Makefile
  docs/_static/test-py.html
  docs/_static/test-rs.html
  docs/index.rst
  rust/Cargo.toml
  rust/src/include/mod.rs
  rust/src/include/problems.rs
  rust/src/include/utils.rs
  rust/src/lib.rs
  rust/src/main.rs
  rust/src/p0003.rs
  rust/src/p0007.rs
  rust/src/p0010.rs
  rust/src/p0012.rs
  rust/src/p0015.rs
  rust/src/p0027.rs
  rust/src/p0034.rs
  rust/src/p0069.rs
  rust/src/p0077.rs
  rust/src/p0087.rs
  rust/src/p0357.rs
Due: Rust

change conditional compile
  rust/Cargo.toml
  rust/src/lib.rs
Due: Rust

attempt to fix test page
  docs/_static/test-rs.html
Due: none

Fix compilation warnings, syntax error
  docs/_static/test-rs.html
  rust/src/include/utils.rs
  rust/src/lib.rs
Due: Rust

Fix some web changes
  README.rst
  docs/_static/test-rs.html
  docs/index.rst
  docs/rust.rst
  rust/src/include/problems.rs
  rust/src/lib.rs
  rust/src/main.rs
Due: Rust

Port p25, p30 from dev (which is now mostly not needed)
  .gitignore
  README.rst
  c/src/include/bcd.h
  c/src/include/macros.h
  c/src/p0022.c
  c/src/p0025.c
  c/src/p0030.c
  c/test.c
  c/test_euler.py
  docs/index.rst
  docs/src/c/lib/bcd.rst
  docs/src/c/p0025.rst
  docs/src/c/p0030.rst
Due: C

Update docs
  docs/index.rst
Due: none

Simplify swap() macro
  c/src/include/macros.h
  c/src/p0025.c
  docs/src/c/lib/macros.rst
Due: C

Update c/cplusplus docs
  .gitattributes
  c/test.c
  cplusplus/src/include/macros.h
  cplusplus/src/tests/test_compiler_macros.cpp
  cplusplus/test_euler.py
  docs/src/c/lib/bcd.rst
  docs/src/c/lib/digits.rst
  docs/src/c/lib/factors.rst
  docs/src/c/lib/fibonacci.rst
  docs/src/c/lib/iterator.rst
  docs/src/c/lib/macros.rst
  docs/src/c/lib/math.rst
  docs/src/c/lib/primes.rst
  docs/src/cplusplus/lib/macros.rst
  docs/src/cplusplus/lib/math.rst
Due: C, C++

make printf formatting portable
  c/src/include/utils.h
  c/src/p0000_template.c
  c/src/p0001.c
  c/src/p0002.c
  c/src/p0003.c
  c/src/p0004.c
  c/src/p0005.c
  c/src/p0006.c
  c/src/p0007.c
  c/src/p0008.c
  c/src/p0009.c
  c/src/p0010.c
  c/src/p0011.c
  c/src/p0012.c
  c/src/p0013.c
  c/src/p0014.c
  c/src/p0015.c
  c/src/p0016.c
  c/src/p0017.c
  c/src/p0020.c
  c/src/p0022.c
  c/src/p0025.c
  c/src/p0030.c
  c/src/p0034.c
  c/src/p0076.c
  c/src/p0836.c
  cplusplus/src/include/math.h
  cplusplus/src/include/utils.h
Due: C, C++

fix printf
  cplusplus/src/include/utils.h
Due: C++

fix printf
  cplusplus/src/p0034.cpp
Due: C++

test sphinx-tags
  docs/conf.py
  docs/requirements.txt
  docs/src/c/p0003.rst
Due: none

test tags further
  docs/index.rst
  docs/src/c/p0003.rst
Due: none

add metadata, fix c coverage in Makefile
  .gitattributes
  c/Makefile
  rust/Cargo.toml
Due: C, Rust

Use canonical colors for languages
  docs/conf.py
Due: none

Fix canonical colors
  docs/Makefile
  docs/conf.py
Due: none

Fix canonical colors
  docs/conf.py
Due: none

Correct colormap
  docs/conf.py
Due: none

Path conditions:
  C: any of: c/**
  C++: any of: cplusplus/**
  C#: any of: csharp/**
  JavaScript: any of: javascript/**
  Python: any of: python/**
  Rust: any of: rust/**
