Repository LivInTheLookingGlass/Euler: changes, and which Codecov flags are due for each by the changed paths.
All: C, C++, C#, Java, JavaScript, Python, Rust

Add initial lua solutions
  .github/workflows/lua.yml
  Makefile
  README.rst
  docs/conf.py
  docs/index.rst
  docs/requirements.txt
  docs/src/lua.rst
  docs/src/lua/p0001.rst
  docs/src/lua/p0002.rst
  lua/Makefile
  lua/README.rst
  lua/src/p0001.lua
  lua/src/p0002.lua
  lua/test.lua
Due: none

Fix import
  docs/conf.py
Due: none

Fix countfiles
  docs/conf.py
Due: none

Fix up syntax issues
  docs/index.rst
  docs/src/lua/p0001.rst
  docs/src/lua/p0002.rst
Due: none

fix up test runner, syntax issues
  lua/Makefile
  lua/src/p0001.lua
  lua/src/p0002.lua
  lua/test.lua
Due: none

fix file filter
  .github/workflows/pages.yml
Due: none

attempt fix of GA setup
  .github/workflows/lua.yml
Due: none

attempt fix of GA setup
  lua/test.lua
Due: none

attempt fix of GA setup
  .github/workflows/lua.yml
  lua/test.lua
Due: none

Add status tracking for lua
  README.rst
Due: none

Update README
  README.rst
Due: none

enable prime tests against Python
  cplusplus/src/include/primes.hpp
  cplusplus/src/tests/test_is_prime.cpp
  cplusplus/test_euler.py
  docs/src/cplusplus/lib/primes.rst
Due: C++

fix test_* recipe
  lua/Makefile
Due: none

fix test on non-linux platforms
  cplusplus/src/tests/test_is_prime.cpp
Due: C++

solve p6, p9 in lua
  README.rst
  docs/index.rst
  docs/src/lua/p0006.rst
  docs/src/lua/p0009.rst
  lua/README.rst
  lua/src/p0006.lua
  lua/src/p0009.lua
  lua/test.lua
Due: none

solve p16, p836 in lua; update tags
  README.rst
  docs/index.rst
  docs/src/lua/p0006.rst
  docs/src/lua/p0009.rst
  docs/src/lua/p0017.rst
  docs/src/lua/p0836.rst
  lua/README.rst
  lua/src/p0001.lua
  lua/src/p0002.lua
  lua/src/p0006.lua
  lua/src/p0009.lua
  lua/src/p0017.lua
  lua/src/p0836.lua
  lua/test.lua
Due: none

typo
  docs/src/lua/p0836.rst
Due: none

add/edit footnotes
  README.rst
Due: none

add "docstrings"
  lua/src/p0001.lua
  lua/src/p0002.lua
  lua/src/p0006.lua
  lua/src/p0009.lua
  lua/src/p0017.lua
  lua/src/p0836.lua
Due: none

remove // operator for compatibility
  lua/src/p0017.lua
Due: none

solve p28 in lua
  README.rst
  docs/index.rst
  docs/src/lua.rst
  docs/src/lua/lib/range.rst
  docs/src/lua/p0028.rst
  lua/README.rst
  lua/src/lib/range.lua
  lua/src/p0028.lua
  lua/test.lua
Due: none

typo
  docs/index.rst
Due: none

fix some rendering issues
  docs/src/lua/lib/range.rst
Due: none

solve p43 in rust
  README.rst
  docs/index.rst
  docs/src/rust/p0043.rst
  rust/README.rst
  rust/src/include/problems.rs
  rust/src/lib.rs
  rust/src/problems/mod.rs
  rust/src/problems/p0043.rs
Due: Rust

correct problem count, re-enable 357
  README.rst
  docs/index.rst
  rust/src/lib.rs
Due: none

disable 357 again
  rust/src/lib.rs
Due: none

Solve p28 in js, rust
  README.rst
  docs/index.rst
  docs/src/javascript/lib/ranges.rst
  docs/src/javascript/p0028.rst
  docs/src/rust/lib/ranges.rst
  docs/src/rust/p0028.rst
  javascript/README.rst
  javascript/euler.test.js
  javascript/src/lib/ranges.js
  javascript/src/p0028.js
  lua/src/p0028.lua
  rust/README.rst
  rust/src/include/mod.rs
  rust/src/include/problems.rs
  rust/src/include/ranges.rs
  rust/src/lib.rs
  rust/src/problems/mod.rs
  rust/src/problems/p0028.rs
Due: JavaScript, Rust

Remove need for std::ops::Neg by distributing negatives
  rust/src/include/ranges.rs
  rust/src/problems/p0028.rs
Due: Rust

type hinting
  rust/src/problems/p0028.rs
Due: Rust

generic type issues
  docs/src/rust/lib/ranges.rst
  rust/src/include/ranges.rs
Due: Rust

typo (shouldn't be marked slow)
  docs/index.rst
  rust/src/include/problems.rs
Due: Rust

Try to make countfiles more strict with js
  docs/conf.py
Due: none

Remove redundant op
  rust/src/problems/p0043.rs
Due: Rust

Attempt lua code coverage, linting
  .codecov.yaml
  .github/workflows/lua-lint.yml
  .github/workflows/lua.yml
  README.rst
  lua/Makefile
Due: none

Fix lua lint errors, move mac installation of luarocks
  .github/workflows/lua.yml
  lua/src/p0001.lua
  lua/src/p0002.lua
  lua/src/p0006.lua
  lua/src/p0009.lua
  lua/src/p0017.lua
  lua/src/p0836.lua
  lua/test.lua
Due: none

Fix lua lint errors, move mac installation of luarocks
  .github/workflows/lua.yml
  lua/src/p0001.lua
  lua/src/p0002.lua
  lua/src/p0017.lua
Due: none

Debug luacov installation
  .github/workflows/lua.yml
Due: none

Path conditions:
  C: any of: c/**, but not: rust/src/lib.rs
  C++: any of: cplusplus/**, but not: rust/src/lib.rs
  C#: any of: csharp/**, but not: rust/src/lib.rs
  Java: any of: java/**, but not: rust/src/lib.rs
  JavaScript: any of: javascript/**, but not: rust/src/lib.rs
  Python: any of: python/**, but not: rust/src/lib.rs
  Rust: any of: rust/**, but not: rust/src/lib.rs
