Repository LivInTheLookingGlass/Euler: changes, and which Codecov flags are due for each by the changed paths.
All: C, C++, C#, JavaScript, Python, Rust

.codecov.yaml:

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_c  # this is an identifier that should not be changed
      name: C  # this is a display name, and can be changed freely
      paths:
        - c/**
    - component_id: module_cplusplus
      name: C++
      paths:
        - cplusplus/**
    - component_id: module_csharp
      name: C#
      paths:
        - csharp/**
    - component_id: module_javascript
      name: JavaScript
      paths:
        - javascript/**
    - component_id: module_python
      name: Python
      paths:
        - python/**
    - component_id: module_rust
      name: Rust
      paths:
        - rust/**
flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
  C:
    carryforward: true
    paths:
      - c/**
  Cpp:
    carryforward: true
    paths:
      - cplusplus/**

update bun versions
  .github/workflows/javascript.yml
  javascript/test.js
Due: JavaScript

update script to better support bun
  .github/workflows/javascript.yml
  javascript/Makefile
  javascript/euler.test.js
Due: JavaScript

narrow bun versions
  .github/workflows/javascript.yml
  javascript/p0004.js
Due: JavaScript

finalize bun versions, close #37
  .github/workflows/javascript.yml
  README.rst
  javascript/p0009.js
Due: JavaScript

prep for webpack
  javascript/euler.test.js
  javascript/package-lock.json
  javascript/package.json
Due: JavaScript

move to src directory
  docs/javascript/p0001.rst
  docs/javascript/p0002.rst
  docs/javascript/p0004.rst
  docs/javascript/p0006.rst
  docs/javascript/p0008.rst
  docs/javascript/p0009.rst
  javascript/euler.test.js
  javascript/src/p0000_template.js
  javascript/src/p0001.js
  javascript/src/p0002.js
  javascript/src/p0004.js
  javascript/src/p0006.js
  javascript/src/p0008.js
  javascript/src/p0009.js
Due: JavaScript

fix js src
  docs/conf.py
Due: none

solve p0022 in rust
  README.rst
  docs/index.rst
  docs/rust.rst
  docs/rust/p0022.rst
  docs/rust/utils.rst
  rust/README.rst
  rust/src/include/mod.rs
  rust/src/include/utils.rs
  rust/src/main.rs
  rust/src/p0022.rs
Due: Rust

solve p17 in js
  README.rst
  docs/index.rst
  docs/javascript/p0017.rst
  javascript/README.rst
  javascript/euler.test.js
  javascript/src/p0017.js
Due: JavaScript

fix jsdoc
  javascript/src/p0017.js
Due: JavaScript

Fix jsdoc return format
  javascript/src/p0017.js
Due: JavaScript

Solve p17 in csharp
  README.rst
  csharp/Euler.Test/test.cs
  csharp/Euler/p0017.cs
  docs/csharp/p0017.rst
  docs/index.rst
Due: C#

Fix many clippy warnings
  rust/src/include/primes.rs
  rust/src/p0017.rs
  rust/src/p0022.rs
  rust/src/p0024.rs
Due: Rust

dotnet format
  csharp/Euler/p0017.cs
Due: C#

Fix more clippy warnings
  rust/src/p0017.rs
Due: Rust

Fix test
  rust/src/p0024.rs
Due: Rust

Solve p8 in C++
  README.rst
  cplusplus/p0008.cpp
  cplusplus/test_euler.py
  docs/cplusplus/p0008.rst
  docs/index.rst
Due: C++

Add p8 to CodeQL analysis
  cplusplus/test.cpp
Due: C++

Attempt to raise C/C++ test runner coverage
  .github/workflows/c.yml
  .github/workflows/cplusplus.yml
  c/test_euler.py
  cplusplus/test_euler.py
Due: C, C++

Solve p11 in javascript, c#
  README.rst
  csharp/Euler.Test/test.cs
  csharp/Euler/p0011.cs
  docs/csharp/p0011.rst
  docs/index.rst
  docs/javascript/p0011.rst
  javascript/euler.test.js
  javascript/src/p0011.js
Due: C#, JavaScript

Raise c# coverage
  csharp/Euler/p0009.cs
  csharp/Euler/p0017.cs
Due: C#

Fix badge link
  README.rst
Due: none

mark p12 as slow, not in progress
  README.rst
  c/test_euler.py
  docs/index.rst
Due: C

Add note and correct includes
  docs/c/p0012.rst
Due: none

Have CSharp collect tests, like other languages do
  csharp/Makefile
Due: C#

Solve p17 in C++
  README.rst
  cplusplus/README.rst
  cplusplus/p0017.cpp
  cplusplus/test.cpp
  cplusplus/test_euler.py
  csharp/README.rst
  docs/cplusplus/p0017.rst
  docs/index.rst
  javascript/README.rst
Due: C++, C#, JavaScript

Make sure p17 compiles
  cplusplus/p0017.cpp
Due: C++

Make sure p17 compiles (2)
  cplusplus/p0017.cpp
Due: C++

Make sure p17 compiles (3)
  cplusplus/p0017.cpp
Due: C++

Solve p17 in C
  README.rst
  c/p0017.c
  c/test.c
  c/test_euler.py
  docs/c/p0017.rst
  docs/index.rst
Due: C

Correct top comment
  c/p0017.c
  cplusplus/p0017.cpp
Due: C, C++

solve p63 in python
  README.rst
  docs/index.rst
  docs/python/p0063.rst
  python/p0063.py
  python/test_euler.py
Due: Python

Correct top comment
  c/p0017.c
Due: C

Fix test runner scripts
  .github/workflows/c.yml
  .github/workflows/cplusplus.yml
  c/test_euler.py
  cplusplus/test_euler.py
Due: C, C++

Fix test runner scripts (2)
  c/test_euler.py
  cplusplus/test_euler.py
Due: C, C++

Fix test runner
  rust/src/main.rs
Due: Rust

Add webpack support [no ci]
  javascript/euler.test.js
  javascript/package-lock.json
  javascript/package.json
  javascript/webpack.config.js
Due: JavaScript

Initial browser support Note that this removes benchmarking, which wasn't working well anyways Closes #7 May improve #34, #36
  README.rst
  javascript/Makefile
  javascript/README.rst
  javascript/euler.test.js
  javascript/index.html
  javascript/package-lock.json
  javascript/package.json
Due: JavaScript

Remove logoSize=auto
  README.rst
Due: none
