Repository LivInTheLookingGlass/Euler: changes, and which Codecov flags are due for each by the changed paths.
All: C, C++, C#, Java, JavaScript, Python, Rust

.codecov.yaml:

ignore:
  - "rust/src/lib.rs"  # codecov seriously screws this one up, and thinks it has >1k lines despite having ~60

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_c  # this is an identifier that should not be changed
      name: C  # this is a display name, and can be changed freely
      paths:
        - c/**
    - component_id: module_cplusplus
      name: C++
      paths:
        - cplusplus/**
    - component_id: module_csharp
      name: C#
      paths:
        - csharp/**
    - component_id: module_java
      name: Java
      paths:
        - java/**
    - component_id: module_javascript
      name: JavaScript
      paths:
        - javascript/**
    - component_id: module_python
      name: Python
      paths:
        - python/**
    - component_id: module_rust
      name: Rust
      paths:
        - rust/**
flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
  individual_flags:
    - name: C
      carryforward: true
      paths:
      - c/**
    - name: Cpp
      carryforward: true
      paths:
      - cplusplus/**

fix Makefile targets
  docs/Makefile
Due: none

fix emscripten executable
  cplusplus/Makefile
Due: C++

switch install method
  .github/workflows/pages.yml
Due: none

not parallel
  docs/Makefile
Due: none

add web test runners (experimental)
  c/src/include/utils.h
  cplusplus/src/include/utils.hpp
  docs/_static/test-c.html
  docs/_static/test-cp.html
Due: C, C++

fix typo
  .github/workflows/pages.yml
  cplusplus/src/include/utils.hpp
Due: C++

Correct script typo
  docs/_static/test-c.html
  docs/_static/test-cp.html
Due: none

Make in a subdir
  docs/Makefile
  docs/_static/test-c.html
  docs/_static/test-cp.html
Due: none

Correct output names
  c/Makefile
  cplusplus/Makefile
  docs/Makefile
Due: C, C++

Try doing a module version
  .github/workflows/pages.yml
  README.rst
  c/Makefile
  cplusplus/Makefile
  docs/Makefile
  docs/_static/test-c.html
  docs/_static/test-cp.html
Due: C, C++

Convert to Number
  docs/_static/test-c.html
  docs/_static/test-cp.html
Due: none

Update readme
  README.rst
Due: none

Skip p12 in c (slow), update docs
  README.rst
  docs/_static/test-c.html
  docs/index.rst
Due: none

Solve p5, p12, p23, p60 in js
  README.rst
  docs/index.rst
  docs/src/javascript/lib/factors.rst
  docs/src/javascript/lib/iters.rst
  docs/src/javascript/p0005.rst
  docs/src/javascript/p0012.rst
  docs/src/javascript/p0023.rst
  docs/src/javascript/p0060.rst
  javascript/README.rst
  javascript/euler.test.js
  javascript/src/lib/factors.js
  javascript/src/lib/iters.js
  javascript/src/p0005.js
  javascript/src/p0012.js
  javascript/src/p0023.js
  javascript/src/p0060.js
Due: JavaScript

Satisfy ESLint
  docs/src/javascript/lib/iters.rst
  docs/src/javascript/p0060.rst
  javascript/src/lib/iters.js
  javascript/src/p0005.js
  javascript/src/p0023.js
  javascript/src/p0060.js
Due: JavaScript

Satisfy ESLint
  javascript/src/p0005.js
Due: JavaScript

Correct p23
  javascript/src/p0023.js
Due: JavaScript

Tune performance of p60
  docs/src/javascript/p0060.rst
  javascript/src/p0060.js
Due: JavaScript

ESLint
  javascript/src/p0060.js
Due: JavaScript

If in old node, mark all as slow
  javascript/euler.test.js
Due: JavaScript

Squash variable leaks
  javascript/src/lib/factors.js
  javascript/src/lib/iters.js
  javascript/src/lib/utils.js
Due: JavaScript

Remove useless exception
  javascript/src/lib/utils.js
Due: JavaScript

Mark unused var
  javascript/.eslintrc
  javascript/src/lib/utils.js
Due: JavaScript

CRLF -> LF
  _data/answers.tsv
  _data/p0828_number_challenges.txt
Due: none

Attempt to make p357 not slow
  rust/src/include/factors.rs
  rust/src/main.rs
  rust/src/p0357.rs
Due: Rust

fix compilation
  rust/Cargo.toml
  rust/src/include/factors.rs
  rust/src/include/mod.rs
Due: Rust

don't test p357
  rust/src/main.rs
Due: Rust

add placeholder docs page
  docs/src/rust/lib/primes.rst
  rust/src/include/primes.rs
Due: Rust

fix compilation
  rust/src/include/primes.rs
  rust/src/p0012.rs
Due: Rust

Optimize some problems
  rust/src/include/problems.rs
  rust/src/p0027.rs
  rust/src/p0357.rs
Due: Rust

Attempt to fix wasm issues
  c/src/p0008.c
  docs/_static/test-c.html
  docs/_static/test-cp.html
Due: C

Fix compilation
  rust/src/p0027.rs
Due: Rust

Debug wasm
  c/src/p0008.c
Due: C

Debug wasm
  c/Makefile
  cplusplus/Makefile
  docs/_static/test-c.html
  docs/_static/test-cp.html
Due: C, C++

Debug wasm
  c/src/p0008.c
  docs/_static/test-c.html
  docs/_static/test-cp.html
Due: C

remove debug print for wasm
  c/src/p0008.c
Due: C

Change wasm call method
  c/Makefile
  cplusplus/Makefile
  docs/_static/test-c.html
Due: C, C++

Solve p21, p23 in rust
  README.rst
  docs/index.rst
  docs/src/rust/p0021.rst
  docs/src/rust/p0023.rst
  rust/README.rst
  rust/src/include/problems.rs
  rust/src/lib.rs
  rust/src/main.rs
  rust/src/p0021.rs
  rust/src/p0023.rs
Due: Rust
