Repository LivInTheLookingGlass/Euler: changes, and which Codecov flags are due for each by the changed paths.
All: C, C++, C#, JavaScript, Python, Rust

try fetching C# answers from file I am writing on termux, though, so I can't test
  csharp/Euler.Test/test.cs
  csharp/Euler/include/utils.cs
  docs/csharp/utils.rst
Due: C#

fix eslint
  javascript/src/lib/utils.js
Due: JavaScript

fix syntax error
  csharp/Euler/include/utils.cs
Due: C#

fix compilation errors
  csharp/Euler/include/utils.cs
Due: C#

dotnet format
  csharp/Euler/include/utils.cs
Due: C#

more specific type handling in GetAnswer
  csharp/Euler/include/utils.cs
  csharp/Euler/p0001.cs
  csharp/Euler/p0002.cs
  csharp/Euler/p0004.cs
  csharp/Euler/p0006.cs
  csharp/Euler/p0008.cs
  csharp/Euler/p0009.cs
  csharp/Euler/p0011.cs
  csharp/Euler/p0014.cs
  csharp/Euler/p0015.cs
  csharp/Euler/p0017.cs
  csharp/Euler/p0022.cs
  csharp/Euler/p0034.cs
  csharp/Euler/p0076.cs
Due: C#

fix up errors caused by type tightening
  csharp/Euler/include/utils.cs
  csharp/Euler/p0004.cs
  csharp/Euler/p0008.cs
  csharp/Euler/p0011.cs
  csharp/Euler/p0014.cs
  csharp/Euler/p0017.cs
  csharp/Euler/p0022.cs
  csharp/Euler/p0034.cs
  csharp/Euler/p0076.cs
Due: C#

prep for eventual wasm packaging
  csharp/Euler/include/utils.cs
  csharp/Euler/include/wasm-fallback.cs
Due: C#

fix linting
  csharp/Euler/include/wasm-fallback.cs
Due: C#

Solve p13 in C++, C#, JS
  README.rst
  cplusplus/src/p0013.cpp
  cplusplus/test.cpp
  cplusplus/test_euler.py
  csharp/Euler.Test/test.cs
  csharp/Euler/p0013.cs
  docs/cplusplus/p0013.rst
  docs/csharp/p0013.rst
  docs/index.rst
  docs/javascript/p0013.rst
  javascript/euler.test.js
  javascript/src/p0013.js
Due: C++, C#, JavaScript

Correct doc error
  docs/rust/p0024.rst
Due: none

Solve p16 in rust
  docs/index.rst
  docs/rust/p0016.rst
  rust/src/main.rs
  rust/src/p0016.rs
Due: Rust

Have C test runner refer to answers.csv
  c/test_euler.py
Due: C

Update README problems lists
  cplusplus/README.rst
  csharp/README.rst
  javascript/README.rst
  rust/README.rst
Due: C++, C#, JavaScript, Rust

fix linting
  csharp/Euler/p0013.cs
Due: C#

solve p20 in rust
  README.rst
  docs/index.rst
  docs/rust/p0020.rst
  rust/src/main.rs
  rust/src/p0020.rs
Due: Rust

solve p19 in rust
  README.rst
  docs/index.rst
  docs/rust/p0019.rst
  rust/Cargo.lock
  rust/Cargo.toml
  rust/README.rst
  rust/src/main.rs
  rust/src/p0019.rs
Due: Rust

add initial attempt at pyodide integratiom
  .gitignore
  docs/Makefile
  docs/_static/test-py.html
  python/Makefile
Due: Python

Increase code coverage
  c/src/p0007.c
  c/src/p0017.c
  cplusplus/src/p0017.cpp
Due: C, C++

Make function async
  docs/_static/test-py.html
Due: none

Fix up warnings
  c/src/p0017.c
  cplusplus/src/p0017.cpp
  rust/src/p0016.rs
  rust/src/p0020.rs
Due: C, C++, Rust

Load pyodide from cdn
  docs/_static/test-py.html
Due: none

Fix up compilation errors
  rust/src/p0016.rs
  rust/src/p0020.rs
Due: Rust

Fix up micropip usage
  docs/_static/test-py.html
Due: none

Fix up pyodide usage
  docs/_static/test-py.html
Due: none

Force load micropip
  docs/_static/test-py.html
Due: none

Add python test page to docs
  README.rst
Due: none

Suppress prints and add top-level run_problems() for pyodide
  python/src/__init__.py
  python/src/p0030.py
  python/src/p0038.py
  python/src/p0040.py
Due: Python

Tweak setup for test-py.html, linting
  docs/Makefile
  docs/_static/test-js.html
  docs/_static/test-py.html
  python/src/__init__.py
Due: Python

fix python version support
  python/src/__init__.py
Due: Python

minor tweak to trigger retest
  c/test_euler.py
Due: C

Attempt fix for test-py.html
  docs/_static/test-py.html
Due: none

Attempt fix for test-py.html (excluding io tests)
  docs/_static/test-py.html
Due: none

Fix up webpack recipe
  docs/_static/test-py.html
  python/Makefile
  python/src/__init__.py
Due: Python

Fix up webpack recipe
  python/Makefile
Due: Python

Fix up webpack recipe [no ci]
  python/Makefile
Due: Python

Path conditions:
  C: any of: c/**
  C++: any of: cplusplus/**
  C#: any of: csharp/**
  JavaScript: any of: javascript/**
  Python: any of: python/**
  Rust: any of: rust/**
