Repository LivInTheLookingGlass/Euler: changes, and which Codecov flags are due for each by the changed paths.
All: C, C++, C#, JavaScript, Python, Rust

.codecov.yaml:

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_c  # this is an identifier that should not be changed
      name: C  # this is a display name, and can be changed freely
      paths:
        - c/**
    - component_id: module_cplusplus
      name: C++
      paths:
        - cplusplus/**
    - component_id: module_csharp
      name: C#
      paths:
        - csharp/**
    - component_id: module_javascript
      name: JavaScript
      paths:
        - javascript/**
    - component_id: module_python
      name: Python
      paths:
        - python/**
    - component_id: module_rust
      name: Rust
      paths:
        - rust/**
flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
  C:
    carryforward: true
    paths:
      - c/**
  Cpp:
    carryforward: true
    paths:
      - cplusplus/**

Fix up webpack recipe [no ci]
  python/Makefile
Due: Python

Rearrange test runner
  docs/_static/test-py.html
Due: none

Try running _all_ problems in pyodide
  docs/_static/test-py.html
  python/src/__init__.py
  python/src/p0118.py
  python/src/p0357.py
Due: Python

Update deprecated actions
  .github/workflows/javascript.yml
  .github/workflows/pages.yml
Due: none

Split linters into separate jobs
  .github/workflows/c-lint.yml
  .github/workflows/c.yml
  .github/workflows/cplusplus-lint.yml
  .github/workflows/cplusplus.yml
  .github/workflows/csharp-lint.yml
  .github/workflows/csharp.yml
  README.rst
Due: none

Fix badge labels
  README.rst
Due: none

Work on pyodide test runner
  docs/_static/test-py.html
Due: none

Solve p20 in all languages
  README.rst
  c/README.rst
  c/src/p0020.c
  c/test.c
  c/test_euler.py
  cplusplus/README.rst
  cplusplus/src/p0020.cpp
  cplusplus/test.cpp
  cplusplus/test_euler.py
  csharp/Euler.Test/test.cs
  csharp/Euler/p0020.cs
  csharp/README.rst
  docs/c/p0020.rst
  docs/cplusplus/p0020.rst
  docs/csharp/p0020.rst
  docs/index.rst
  docs/javascript/p0020.rst
  javascript/README.rst
  javascript/euler.test.js
  javascript/src/p0020.js
Due: C, C++, C#, JavaScript

Solve security warnings in C++
  cplusplus/src/p0020.cpp
Due: C++

Move usage to separate file
  docs/index.rst
  docs/usage.rst
Due: none

solve p7 in js
  README.rst
  docs/index.rst
  docs/javascript/p0007.rst
  docs/javascript/primes.rst
  javascript/README.rst
  javascript/euler.test.js
  javascript/src/lib/primes.js
  javascript/src/p0007.js
Due: JavaScript

Solve p3 in js; fix linting
  README.rst
  docs/index.rst
  docs/javascript/p0003.rst
  docs/javascript/p0007.rst
  docs/javascript/primes.rst
  javascript/euler.test.js
  javascript/src/lib/primes.js
  javascript/src/p0003.js
  javascript/src/p0007.js
Due: JavaScript

solve p10 in javascript
  README.rst
  docs/javascript/p0010.rst
  javascript/README.rst
  javascript/euler.test.js
  javascript/src/p0010.js
Due: JavaScript

Solve p16 in C++, C#, Js
  cplusplus/README.rst
  cplusplus/src/p0016.cpp
  cplusplus/test.cpp
  cplusplus/test_euler.py
  csharp/Euler.Test/test.cs
  csharp/Euler/p0016.cs
  csharp/README.rst
  docs/cplusplus/p0016.rst
  docs/csharp/p0016.rst
  docs/index.rst
  docs/javascript/p0016.rst
  javascript/README.rst
  javascript/euler.test.js
  javascript/src/p0016.js
Due: C++, C#, JavaScript

Correct type errors
  .github/workflows/pages.yml
  cplusplus/src/p0016.cpp
  csharp/Euler/p0016.cs
Due: C++, C#

Update README
  README.rst
Due: none

Correct width of array
  cplusplus/src/p0016.cpp
  csharp/Euler/p0016.cs
Due: C++, C#

Prep for java implementation [no ci]
  Makefile
  docs/conf.py
Due: none

Initial attempt at Java support
  .codecov.yaml
  .github/workflows/codeql.yml
  .github/workflows/java-lint.yml
  .github/workflows/java.yml
  .github/workflows/pages.yml
  Makefile
  README.rst
  docs/conf.py
  docs/csharp.rst
  docs/index.rst
  docs/java.rst
  docs/java/p0001.rst
  docs/java/p0836.rst
  java/Makefile
  java/README.rst
  java/pom.xml
  java/src/main/java/euler/IEuler.java
  java/src/main/java/euler/lib/Utilities.java
  java/src/main/java/euler/p0000.java
  java/src/main/java/euler/p0001.java
  java/src/main/java/euler/p0836.java
  java/src/test/java/EulerTest.java
Due: none

Solve many problems in java (22 is expected failure)
  README.rst
  docs/csharp/utils.rst
  docs/index.rst
  docs/java/p0002.rst
  docs/java/p0004.rst
  docs/java/p0006.rst
  docs/java/p0009.rst
  docs/java/p0022.rst
  docs/java/utils.rst
  java/README.rst
  java/src/main/java/euler/lib/Utilities.java
  java/src/main/java/euler/p0000.java
  java/src/main/java/euler/p0001.java
  java/src/main/java/euler/p0002.java
  java/src/main/java/euler/p0004.java
  java/src/main/java/euler/p0006.java
  java/src/main/java/euler/p0009.java
  java/src/main/java/euler/p0022.java
  java/src/main/java/euler/p0836.java
  java/src/test/java/EulerTest.java
Due: none

Update docs to be prettier
  docs/conf.py
  docs/java.rst
  docs/java/p0001.rst
  docs/java/p0002.rst
  docs/java/p0004.rst
  docs/java/p0006.rst
  docs/java/p0009.rst
  docs/java/p0022.rst
  docs/java/p0836.rst
  docs/java/utils.rst
  docs/requirements.txt
Due: none

Fix Utilities.getAnswer()
  .gitignore
  README.rst
  docs/index.rst
  java/src/main/java/euler/lib/Utilities.java
  java/src/main/java/euler/p0022.java
  java/src/test/java/EulerTest.java
Due: none

full trace on fail
  java/Makefile
Due: none

try using relative paths, fix recipes
  Makefile
  java/Makefile
  java/src/main/java/euler/lib/Utilities.java
Due: none

Update license, makefiles + read files from uri
  LICENSE
  Makefile
  c/Makefile
  cplusplus/Makefile
  csharp/Makefile
  docs/Makefile
  java/Makefile
  java/src/main/java/euler/lib/Utilities.java
  javascript/Makefile
  javascript/package.json
  python/Makefile
  rust/Makefile
Due: C, C++, C#, JavaScript, Python, Rust

fix workflows
  .github/workflows/java-lint.yml
  .github/workflows/java.yml
Due: none

help text if clean fails
  java/Makefile
Due: none

fix makefile
  python/Makefile
Due: Python

update status table
  docs/index.rst
Due: none

fix clean recipe
  docs/Makefile
Due: none

make produces less extraneous output now
  .github/workflows/javascript.yml
  Makefile
  c/Makefile
  cplusplus/Makefile
  csharp/Makefile
  docs/Makefile
  java/Makefile
  javascript/Makefile
  python/Makefile
  rust/Makefile
Due: C, C++, C#, JavaScript, Python, Rust

More Makefile revamps
  Makefile
  c/Makefile
  cplusplus/Makefile
  docs/Makefile
  javascript/Makefile
Due: C, C++, JavaScript

fix test recipe
  javascript/Makefile
Due: JavaScript

fix native test runner recipe
  cplusplus/Makefile
Due: C++
