Repository LivInTheLookingGlass/Euler: changes, and which Codecov flags are due for each by the changed paths.
All: C, C++, C#, Java, JavaScript, Python, Rust

.codecov.yaml:

ignore:
  - "rust/src/lib.rs"  # codecov seriously screws this one up, and thinks it has >1k lines despite having ~60

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_c  # this is an identifier that should not be changed
      name: C  # this is a display name, and can be changed freely
      paths:
        - c/**
    - component_id: module_cplusplus
      name: C++
      paths:
        - cplusplus/**
    - component_id: module_csharp
      name: C#
      paths:
        - csharp/**
    - component_id: module_java
      name: Java
      paths:
        - java/**
    - component_id: module_javascript
      name: JavaScript
      paths:
        - javascript/**
    - component_id: module_python
      name: Python
      paths:
        - python/**
    - component_id: module_rust
      name: Rust
      paths:
        - rust/**
flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
  individual_flags:
    - name: C
      carryforward: true
      paths:
      - c/**
    - name: Cpp
      carryforward: true
      paths:
      - cplusplus/**

amend robots
  docs/robots.txt
Due: none

Attempt to track both on same goatcounter instance
  docs/conf.py
Due: none

Update artifact upload version
  .github/workflows/pages.yml
Due: none

Attempt to track both on same goatcounter instance (3)
  docs/conf.py
Due: none

Attempt to track both on same goatcounter instance (4)
  docs/conf.py
Due: none

Change toolchain version
  .github/workflows/pages.yml
Due: none

Another attempt at wasm
  .github/workflows/pages.yml
Due: none

Another attempt at wasm (2)
  .github/workflows/pages.yml
  rust/Cargo.toml
Due: Rust

Another attempt at wasm (3)
  rust/Cargo.toml
Due: Rust

Another attempt at wasm (4)
  docs/Makefile
  rust/Cargo.toml
Due: Rust

Another attempt at wasm (5)
  docs/Makefile
  rust/Cargo.toml
Due: Rust

Another attempt at wasm (6)
  docs/conf.py
Due: none

simplify tracking logic
  docs/conf.py
Due: none

add site tracking to remainder
  docs/_static/test-c.html
  docs/_static/test-cp.html
  docs/_static/test-js.html
  docs/_static/test-py.html
  docs/_static/test-rs.html
Due: none

Fix build issues from ubuntu upgrade
  .github/workflows/fortran.yml
  csharp/Euler.Test/Euler.Test.csproj
  csharp/Euler/Euler.csproj
Due: C#

Fix build issues from ubuntu upgrade (2)
  .github/workflows/csharp.yml
  csharp/Euler.Test/Euler.Test.csproj
  csharp/Euler/Euler.csproj
Due: C#

Fix build issues from ubuntu upgrade (3)
  .github/workflows/csharp.yml
Due: none

Fix build issues from ubuntu upgrade (4)
  .github/workflows/csharp.yml
Due: none

Fix build issues from ubuntu upgrade (5)
  .github/workflows/csharp.yml
Due: none

Add backlink to home page
  docs/index.rst
Due: none

Switch fediverse handle
  docs/conf.py
Due: none

Add workflow_dispatch trigger to Python workflow
  .github/workflows/python.yml
Due: none

Add Python versions 3.13 + 3.14 to workflow, remove retired macos-13
  .github/workflows/python.yml
Due: none

Remove retired macOS 13 from CI workflow matrix
  .github/workflows/c.yml
Due: none

Update Python CI workflow to disable GraalVM versions
  .github/workflows/python.yml
Due: none

Remove GraalPy from Python support due to failing build image
  README.rst
Due: none

Switch windows to clang only
  .github/workflows/c.yml
Due: none

Add missing compiler override to windows
  .github/workflows/c.yml
Due: none

Update c.yml
  .github/workflows/c.yml
Due: none

Update python.yml
  .github/workflows/python.yml
Due: none
