Repository LivInTheLookingGlass/Euler: changes, and which Codecov flags are due for each by the changed paths.
All: C, C++, C#, JavaScript, Python, Rust

Disable timeout if running in xdist (where timer is unstable)
  docs/index.rst
  python/test_euler.py
Due: Python

Add a native build recipe for C++ so CodeQL can scan it [no ci] This is currently not tested, so uploading with no ci forportability purposes
  .github/workflows/codeql.yml
  README.rst
  cplusplus/Makefile
  cplusplus/README.rst
  cplusplus/test.cpp
Due: C++

Quick table fix [no ci]
  README.rst
Due: none

Quick docs fix [no ci]
  README.rst
Due: none

Quick doc fix [no ci]
  README.rst
Due: none

Actual doc fix [no ci]
  README.rst
Due: none

Solve p0014 in rust
  README.rst
  docs/index.rst
  docs/rust/p0014.rst
  rust/README.rst
  rust/src/main.rs
  rust/src/p0014.rs
Due: Rust

Temp fix for codeql until build works, fix rust typos
  .github/workflows/codeql.yml
  rust/src/p0014.rs
Due: Rust

Small tweaks to get coverage up
  rust/src/main.rs
  rust/src/p0009.rs
  rust/src/p0012.rs
Due: Rust

Solve p0013 in rust
  README.rst
  docs/index.rst
  docs/rust/p0013.rst
  python/p0013.py
  rust/src/main.rs
  rust/src/p0013.rs
Due: Python, Rust

allow C++ build with the unity test runner
  .github/workflows/codeql.yml
  .gitmodules
  cplusplus/Makefile
Due: C++

Make sure all constants are decimal
  rust/src/p0013.rs
Due: Rust

Fix many workflow filters
  .github/workflows/codeql.yml
  .github/workflows/eslint.yml
  .github/workflows/python-lint.yml
  .github/workflows/rust-clippy.yml
Due: none

Add more no cover statements to unreachable code
  python/p0009.py
  python/p0012.py
  python/p0024.py
  python/p0025.py
  python/p0040.py
  python/p0046.py
  python/p0047.py
  python/p0049.py
  python/p0050.py
  python/p0052.py
  python/p0058.py
  python/p0059.py
  python/p0060.py
  python/p0077.py
  python/p0123.py
  python/p0206.py
Due: Python

Try to get coverage with clang, port benchmark fix to c, c++
  c/test_euler.py
  cplusplus/test_euler.py
Due: C, C++

Port coverage change to C++
  cplusplus/test_euler.py
Due: C++

Only upload coverage from ubuntu (not collected on others)
  .github/workflows/c.yml
  .github/workflows/cplusplus.yml
Due: none

Add filter to pages, cache linguist install
  .github/workflows/pages.yml
Due: none

Don't collect coverage for the test runner
  c/Makefile
  cplusplus/Makefile
Due: C, C++

Break out compilers into different jobs
  .github/workflows/c.yml
Due: none

Add self to filters
  .github/workflows/c.yml
  .github/workflows/codeql.yml
  .github/workflows/cplusplus.yml
Due: none

Add self to filters
  .github/workflows/csharp.yml
  .github/workflows/eslint.yml
  .github/workflows/javascript.yml
  .github/workflows/pages.yml
  .github/workflows/python-lint.yml
  .github/workflows/python.yml
  .github/workflows/rust-clippy.yml
  .github/workflows/rust.yml
Due: none

Use COMPILER_OVERRIDE
  .github/workflows/c.yml
Due: none

Remove self from filters, since it doesn't work
  .github/workflows/c.yml
  .github/workflows/codeql.yml
  .github/workflows/cplusplus.yml
  .github/workflows/csharp.yml
  .github/workflows/eslint.yml
  .github/workflows/javascript.yml
  .github/workflows/pages.yml
  .github/workflows/python-lint.yml
  .github/workflows/python.yml
  .github/workflows/rust-clippy.yml
  .github/workflows/rust.yml
Due: none

Fix test filters
  .github/workflows/c.yml
Due: none

Small change to trigger new tests
  c/Makefile
Due: C

Try to make compiler_override work with pcc, tcc
  c/test_euler.py
Due: C

SSH breakpoint to figure out why coverage fails
  .github/workflows/c.yml
  c/Makefile
Due: C

Don't cleanup build folder
  .github/workflows/c.yml
  c/test_euler.py
Due: C

Fix clang args
  c/test_euler.py
Due: C

Port C coverage fix to C++
  .github/workflows/cplusplus.yml
  cplusplus/test_euler.py
Due: C++

Remove tcc, pcc (erroneously added to cplusplus)
  .github/workflows/c.yml
  .github/workflows/cplusplus.yml
  cplusplus/Makefile
Due: C++

Fix typo
  .github/workflows/cplusplus.yml
  cplusplus/Makefile
Due: C++

Fix yaml structure
  .codecov.yaml
Due: none

C++ coverage now works
  docs/index.rst
Due: none

Add coverage graph back
  README.rst
Due: none

Cover the test runner again
  c/Makefile
  cplusplus/Makefile
Due: C, C++

Path conditions:
  C: any of: c/**
  C++: any of: cplusplus/**
  C#: any of: csharp/**
  JavaScript: any of: javascript/**
  Python: any of: python/**
  Rust: any of: rust/**
