Repository LivInTheLookingGlass/Euler: changes, and which Codecov flags are due for each by the changed paths.
All: C, C++, C#, JavaScript, Python, Rust

.codecov.yaml:

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_c  # this is an identifier that should not be changed
      name: C  # this is a display name, and can be changed freely
      paths:
        - c/**
    - component_id: module_cplusplus
      name: C++
      paths:
        - cplusplus/**
    - component_id: module_csharp
      name: C#
      paths:
        - csharp/**
    - component_id: module_javascript
      name: JavaScript
      paths:
        - javascript/**
    - component_id: module_python
      name: Python
      paths:
        - python/**
    - component_id: module_rust
      name: Rust
      paths:
        - rust/**
flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
  C:
    carryforward: true
    paths:
      - c/**
  Cpp:
    carryforward: true
    paths:
      - cplusplus/**

Fix buffer not resolvable in webpack
  javascript/package-lock.json
  javascript/package.json
  javascript/webpack.config.js
Due: JavaScript

Try again for 3.6 support
  python/requirements.txt
Due: Python

Fix mypy/isort errors
  python/lib/utils.py
Due: Python

reintroduce flake8 linting [no ci]
  python/Makefile
  python/requirements.txt
  python/setup.cfg
Due: Python

Fix up flake8 errors, now that it works again
  README.rst
  python/lib/factors.py
  python/lib/iters.py
  python/lib/primes.py
  python/lib/triangles.py
  python/lib/utils.py
  python/p0044.py
  python/p0049.py
  python/p0052.py
  python/p0063.py
  python/p0081.py
  python/p0099.py
  python/p0118.py
Due: Python

Reduce complexity, increase code coverage
  docs/conf.py
  python/src/lib/fibonacci.py
  python/src/lib/iters.py
  python/src/lib/math.py
  python/src/lib/primes.py
  python/src/p0017.py
  python/src/p0123.py
  python/src/p0134.py
  python/test_euler.py
Due: Python

Relocate c++ code to source folder
  .gitmodules
  c/test_euler.py
  cplusplus/src/include/macros.h
  cplusplus/src/include/math.h
  cplusplus/src/p0000_template.cpp
  cplusplus/src/p0001.cpp
  cplusplus/src/p0002.cpp
  cplusplus/src/p0004.cpp
  cplusplus/src/p0006.cpp
  cplusplus/src/p0008.cpp
  cplusplus/src/p0009.cpp
  cplusplus/src/p0011.cpp
  cplusplus/src/p0014.cpp
  cplusplus/src/p0015.cpp
  cplusplus/src/p0017.cpp
  cplusplus/src/p0034.cpp
  cplusplus/src/p0076.cpp
  cplusplus/src/p0836.cpp
  cplusplus/src/tests/test_compiler_macros.cpp
  cplusplus/test.cpp
  cplusplus/test_euler.py
  docs/cplusplus/macros.rst
  docs/cplusplus/math.rst
  docs/cplusplus/p0001.rst
  docs/cplusplus/p0002.rst
  docs/cplusplus/p0004.rst
  docs/cplusplus/p0006.rst
  docs/cplusplus/p0008.rst
  docs/cplusplus/p0009.rst
  docs/cplusplus/p0011.rst
  docs/cplusplus/p0014.rst
  docs/cplusplus/p0015.rst
  docs/cplusplus/p0017.rst
  docs/cplusplus/p0034.rst
  docs/cplusplus/p0076.rst
  docs/cplusplus/p0836.rst
Due: C, C++

Fix up submodules
  .gitmodules
  c/Makefile
  c/test.c
  cplusplus/Makefile
  cplusplus/test.cpp
Due: C, C++

Replace deprecated actions
  .github/workflows/c.yml
  .github/workflows/cplusplus.yml
  .github/workflows/csharp.yml
  .github/workflows/javascript.yml
  .github/workflows/pages.yml
  .github/workflows/python-lint.yml
  .github/workflows/python.yml
Due: none

Fix relative links in READMEs
  c/README.rst
  cplusplus/README.rst
  csharp/README.rst
  javascript/README.rst
  python/README.rst
Due: C, C++, C#, JavaScript, Python

Move remaining shared code to lib
  python/README.rst
  python/src/lib/iters.py
  python/src/lib/utils.py
  python/src/p0004.py
  python/src/p0028.py
  python/src/p0036.py
  python/src/p0055.py
  python/src/p0058.py
Due: Python

add read file support to C, solve 22
  README.rst
  c/README.rst
  c/src/include/utils.h
  c/src/p0022.c
  c/test.c
  c/test_euler.py
  docs/c/p0022.rst
  docs/c/utils.rst
  docs/index.rst
Due: C

fix compilation warnings
  c/src/include/utils.h
Due: C

don't test against problem 22 yet I have some debugging to do. tcc is getting wrong file path, and pcc refuses to link the stdlib, and some (but not all) compilers get the wrong answer entirely.
  c/test_euler.py
  docs/c/p0022.rst
  docs/index.rst
Due: C

Remove support for aocc, icc. Expand support for tcc, make file io more portable
  c/Makefile
  c/src/include/macros.h
  c/src/include/utils.h
  c/src/p0022.c
  c/src/tests/test_compiler_macros.c
  c/test_euler.py
  cplusplus/Makefile
  cplusplus/test_euler.py
  docs/c/macros.rst
  python/Makefile
  python/test_euler.py
Due: C, C++, Python

Use a more elegent workaround for webpack file io (if it works)
  .gitignore
  javascript/Makefile
  javascript/src/lib/_utils_fallback.js
  javascript/src/lib/utils.js
Due: JavaScript

fix up flake8 errors
  python/src/p0004.py
  python/src/p0028.py
  python/src/p0055.py
  python/src/p0058.py
  python/test_euler.py
Due: Python

begin work towards single source of answers
  _data/answers.csv
Due: none

fix ignore pattern for docs build
  .gitignore
Due: none

solve p22 in js
  README.rst
  docs/index.rst
  docs/javascript/p0022.rst
  javascript/euler.test.js
  javascript/src/p0022.js
Due: JavaScript

try to style live test page like the rest
  README.rst
  docs/Makefile
  docs/conf.py
  docs/javascript.rst
  docs/javascript/live-test.rst
Due: none

substitue replaceAll with more portable split().join()
  javascript/src/p0022.js
Due: JavaScript

Partial Revert of "try to style live test page like the rest"
  README.rst
  docs/Makefile
  docs/conf.py
  docs/javascript/live-test.rst
  javascript/index.html
  javascript/webpack.config.js
Due: JavaScript

begin work to make web tests language agnostic
  .gitignore
  docs/Makefile
Due: none

fix eslint
  javascript/src/p0022.js
Due: JavaScript

solve p22 in c#
  README.rst
  csharp/Euler.Test/test.cs
  csharp/Euler/p0022.cs
  csharp/README.rst
  docs/csharp/p0022.rst
  docs/index.rst
  javascript/README.rst
Due: C#, JavaScript

squash typo
  csharp/Euler/p0022.cs
Due: C#

names.Sort() -> Array.Sort(names)
  csharp/Euler/p0022.cs
Due: C#

finish p22 in c
  README.rst
  c/src/p0022.c
  c/test_euler.py
  docs/index.rst
Due: C

try to make file io more portable
  c/src/include/utils.h
Due: C

fix printf problem
  c/src/include/utils.h
Due: C

disable deprecation warning (since C99 is support target)
  c/test_euler.py
Due: C

solve p22 in c++
  README.rst
  cplusplus/README.rst
  cplusplus/src/include/utils.h
  cplusplus/src/p0022.cpp
  cplusplus/test.cpp
  cplusplus/test_euler.py
  docs/cplusplus/p0015.rst
  docs/cplusplus/utils.rst
  docs/index.rst
Due: C++

explicitly include stdio in utils this wasn't needed in c because all the c files include it anyways
  cplusplus/src/include/utils.h
Due: C++

make string checks a little more idiomatic
  cplusplus/src/p0022.cpp
Due: C++

correct copy error
  docs/cplusplus/p0022.rst
Due: none

first moves towards all test answers in one place
  javascript/euler.test.js
  javascript/src/lib/utils.js
  python/src/lib/utils.py
  python/test_euler.py
Due: JavaScript, Python
