Repository LivInTheLookingGlass/Euler: changes, and which Codecov flags are due for each by the changed paths.
All: C, C++, C#, Java, JavaScript, Python, Rust

Attempt to cache prime generators
  docs/inv/rust/inv_raw.txt
  docs/src/rust/lib/iter_cache.rst
  docs/src/rust/lib/primes.rst
  rust/src/include/factors.rs
  rust/src/include/iter_cache.rs
  rust/src/include/mod.rs
  rust/src/include/primes.rs
Due: Rust

disable p21, p23 pending debug
  README.rst
  docs/index.rst
  rust/src/main.rs
Due: Rust

fix p23 rust
  README.rst
  docs/index.rst
  rust/src/include/factors.rs
  rust/src/include/problems.rs
  rust/src/main.rs
  rust/src/p0023.rs
Due: Rust

Solve 36, 37, 45, 53 in rust
  .github/workflows/rust.yml
  README.rst
  docs/index.rst
  docs/src/rust/lib/fibonacci.rst
  docs/src/rust/p0036.rst
  docs/src/rust/p0037.rst
  docs/src/rust/p0045.rst
  docs/src/rust/p0053.rst
  rust/README.rst
  rust/src/include/factors.rs
  rust/src/include/fibonacci.rs
  rust/src/include/iter_cache.rs
  rust/src/include/math.rs
  rust/src/include/mod.rs
  rust/src/include/primes.rs
  rust/src/include/problems.rs
  rust/src/include/utils.rs
  rust/src/lib.rs
  rust/src/main.rs
  rust/src/p0002.rs
  rust/src/p0004.rs
  rust/src/p0036.rs
  rust/src/p0037.rs
  rust/src/p0045.rs
  rust/src/p0053.rs
Due: Rust

finish debug of nCr
  rust/Cargo.toml
  rust/src/include/factors.rs
  rust/src/include/fibonacci.rs
  rust/src/include/iter_cache.rs
  rust/src/include/math.rs
  rust/src/include/primes.rs
  rust/src/main.rs
  rust/src/p0053.rs
Due: Rust

speed up is_prime() w/ heuristics
  rust/src/include/primes.rs
Due: Rust

Solve 59 in rust
  README.rst
  docs/index.rst
  rust/README.rst
  rust/src/include/problems.rs
  rust/src/include/utils.rs
  rust/src/lib.rs
  rust/src/main.rs
  rust/src/p0059.rs
Due: Rust

Solve 59 in rust
  README.rst
  docs/index.rst
  docs/src/rust/p0059.rst
  docs/src/rust/p0067.rst
  rust/README.rst
  rust/src/include/problems.rs
  rust/src/include/utils.rs
  rust/src/lib.rs
  rust/src/main.rs
  rust/src/p0059.rs
  rust/src/p0067.rs
Due: Rust

Solve 44, 187 in rust
  README.rst
  _data/p0079_keylog.txt
  docs/index.rst
  docs/src/rust/p0044.rst
  docs/src/rust/p0187.rst
  rust/README.rst
  rust/src/include/math.rs
  rust/src/include/problems.rs
  rust/src/include/utils.rs
  rust/src/lib.rs
  rust/src/main.rs
  rust/src/p0044.rs
  rust/src/p0045.rs
  rust/src/p0187.rs
Due: Rust

Compress code
  rust/src/include/problems.rs
  rust/src/include/utils.rs
  rust/src/lib.rs
  rust/src/main.rs
Due: Rust

Optimize p37
  rust/src/p0037.rs
Due: Rust

Solve p35, p41 in rust
  README.rst
  docs/index.rst
  docs/src/rust/p0035.rst
  docs/src/rust/p0041.rst
  rust/README.rst
  rust/src/include/problems.rs
  rust/src/lib.rs
  rust/src/main.rs
  rust/src/p0035.rs
  rust/src/p0041.rs
Due: Rust

Revert macro portion of " Compress code\
  rust/src/include/utils.rs
Due: Rust

Fix compilation errors
  rust/src/include/problems.rs
  rust/src/p0035.rs
  rust/src/p0041.rs
Due: Rust

Fix compilation errors
  rust/src/p0035.rs
  rust/src/p0041.rs
Due: Rust

Fix compilation errors
  rust/src/p0035.rs
Due: Rust

Partial revert 'Optimize p37'
  rust/src/p0037.rs
Due: Rust

Minor optimizations of 35 + mark slow
  docs/index.rst
  rust/src/include/problems.rs
  rust/src/p0035.rs
Due: Rust

Don't cache iterators, as it occasionally throws errors
  rust/src/include/fibonacci.rs
  rust/src/include/primes.rs
Due: Rust

Fix type of 35
  rust/src/p0035.rs
Due: Rust

Re-enable caching with some thread-safety improvements
  javascript/package.json
  rust/Cargo.toml
  rust/src/include/factors.rs
  rust/src/include/fibonacci.rs
  rust/src/include/iter_cache.rs
  rust/src/include/primes.rs
Due: JavaScript, Rust

Solve p3 in C# (Java port to follow)
  README.rst
  csharp/Euler.Test/test.cs
  csharp/Euler/include/prime.cs
  csharp/Euler/include/primes.cs
  csharp/Euler/p0003.cs
  csharp/README.rst
  docs/index.rst
  docs/src/csharp/lib/csharp.rst
  docs/src/csharp/p0003.rst
Due: C#

fix typo
  csharp/Euler/include/prime.cs
Due: C#

add docs for factors
  docs/src/rust/lib/factors.rst
Due: none

update dependencies
  rust/Cargo.lock
Due: Rust

maybe pr jobs won't fail if there are steps to run
  .github/workflows/pages.yml
Due: none

add initial attempt at 111
  _data/answers.tsv
  rust/src/include/problems.rs
  rust/src/lib.rs
  rust/src/main.rs
  rust/src/p0111.rs
Due: Rust

don't collect very large vector
  rust/src/p0111.rs
Due: Rust

usize
  rust/src/p0111.rs
Due: Rust

Solve p7, p10 in C#; make primes generic
  README.rst
  csharp/Euler.Test/test.cs
  csharp/Euler/include/prime.cs
  csharp/Euler/p0007.cs
  csharp/Euler/p0010.cs
  csharp/Makefile
  csharp/README.rst
  docs/index.rst
  docs/src/csharp/lib/prime.rst
  docs/src/csharp/p0003.rst
  docs/src/csharp/p0007.rst
  docs/src/csharp/p0010.rst
Due: C#

dotnet format
  csharp/Euler/include/prime.cs
Due: C#

Fix build error
  docs/src/csharp/lib/csharp.rst
Due: none

solve p70 in python (80th solved!)
  README.rst
  _data/answers.tsv
  docs/index.rst
  docs/src/python/p0070.rst
  python/README.rst
  python/src/p0070.py
  python/test_euler.py
Due: Python

correct docstring, reenable mathjax
  docs/conf.py
  python/src/p0070.py
Due: Python

fix linting
  python/src/p0070.py
Due: Python

tweak mathjax
  docs/conf.py
  docs/requirements.txt
Due: none

Path conditions:
  C: any of: c/**, but not: rust/src/lib.rs
  C++: any of: cplusplus/**, but not: rust/src/lib.rs
  C#: any of: csharp/**, but not: rust/src/lib.rs
  Java: any of: java/**, but not: rust/src/lib.rs
  JavaScript: any of: javascript/**, but not: rust/src/lib.rs
  Python: any of: python/**, but not: rust/src/lib.rs
  Rust: any of: rust/**, but not: rust/src/lib.rs
