Repository LivInTheLookingGlass/Euler: changes, and which Codecov flags are due for each by the changed paths.
All: C, C++, C#, Java, JavaScript, Python, Rust

isort
  python/src/p0070.py
Due: Python

simplify groupwise
  python/src/lib/iters.py
Due: Python

solve p25 in rust
  README.rst
  docs/index.rst
  docs/src/rust/p0025.rst
  rust/README.rst
  rust/src/include/problems.rs
  rust/src/lib.rs
  rust/src/main.rs
  rust/src/p0025.rs
Due: Rust

move main to lib, re-enable p21
  rust/src/lib.rs
  rust/src/main.rs
  rust/src/p0021.rs
Due: Rust

disable p21 again
  rust/src/lib.rs
Due: none

compress C/C++ code
  c/src/include/bcd.h
  c/src/include/digits.h
  c/src/include/factors.h
  c/src/include/fibonacci.h
  c/src/include/iterator.h
  c/src/include/macros.h
  c/src/include/math.h
  c/src/include/primes.h
  c/src/include/utils.h
  c/src/p0008.c
  c/src/p0017.c
  c/src/p0025.c
  c/src/p0030.c
  c/src/p0076.c
  cplusplus/src/include/macros.hpp
  cplusplus/src/include/math.hpp
  cplusplus/src/include/utils.hpp
  cplusplus/src/p0002.cpp
  cplusplus/src/p0014.cpp
  cplusplus/src/p0022.cpp
  cplusplus/src/p0076.cpp
Due: C, C++

Convert rust prime generator to C++, solve p7 (untested)
  README.rst
  c/src/p0025.c
  cplusplus/README.rst
  cplusplus/src/include/primes.hpp
  cplusplus/src/p0002.cpp
  cplusplus/src/p0007.cpp
  cplusplus/test_euler.py
  docs/index.rst
  docs/src/cplusplus/lib/primes.rst
  docs/src/cplusplus/p0007.rst
  rust/src/lib.rs
Due: C, C++

Fix up some forgotten lines
  c/src/include/math.h
  cplusplus/test.cpp
  rust/src/include/utils.rs
  rust/src/lib.rs
Due: C, C++, Rust

Solve p18, p67 in js
  README.rst
  docs/index.rst
  docs/src/javascript/lib/triangles.rst
  docs/src/javascript/p0018.rst
  docs/src/javascript/p0067.rst
  javascript/README.rst
  javascript/euler.test.js
  javascript/src/lib/triangles.js
  javascript/src/p0018.js
  javascript/src/p0067.js
  rust/src/problems/p0018.rs
Due: JavaScript, Rust

Solve p21 in js, attempt table sorting
  README.rst
  docs/_static/main.js
  docs/conf.py
  docs/index.rst
  docs/src/javascript/p0021.rst
  docs/src/rust/p0021.rst
  javascript/README.rst
  javascript/euler.test.js
  javascript/src/p0021.js
Due: JavaScript

Portability issues
  docs/raw_inv.txt
  javascript/src/p0021.js
Due: JavaScript

Class issues
  README.rst
  docs/index.rst
Due: none

Typo, incorrect function called
  javascript/src/p0021.js
Due: JavaScript

Apply class to table better
  README.rst
  docs/index.rst
Due: none

Don't allow paging, searching
  docs/_static/main.js
Due: none

Don't allow paging, searching
  docs/_static/main.js
  docs/_static/style.css
  docs/conf.py
  docs/index.rst
Due: none

Attempt fix to formatting
  docs/_static/main.js
Due: none

Fix file loads
  docs/conf.py
  docs/src/python/p0070.rst
Due: none

Simplify to debug
  docs/_static/main.js
  docs/index.rst
Due: none

Fix sorting (with a bit of a hack)
  docs/_static/main.js
  docs/conf.py
  docs/index.rst
Due: none

Modify column widths
  docs/_static/main.js
Due: none

try to resize columns
  docs/_static/main.js
Due: none

try to disable scroll x
  docs/_static/main.js
Due: none

try to fix sorting order in lang table
  README.rst
Due: none

Attempt to fix macro
  c/src/include/macros.h
  c/src/p0836.c
  cplusplus/src/include/macros.hpp
Due: C, C++

Fix linting
  java/src/main/java/euler/p0008.java
Due: Java

Attempt macro fix
  c/src/include/macros.h
  c/src/p0000_template.c
  c/src/p0001.c
  c/src/p0002.c
  c/src/p0003.c
  c/src/p0004.c
  c/src/p0005.c
  c/src/p0006.c
  c/src/p0007.c
  c/src/p0008.c
  c/src/p0009.c
  c/src/p0010.c
  c/src/p0011.c
  c/src/p0012.c
  c/src/p0013.c
  c/src/p0014.c
  c/src/p0015.c
  c/src/p0016.c
  c/src/p0017.c
  c/src/p0019.c
  c/src/p0020.c
  c/src/p0022.c
  c/src/p0025.c
  c/src/p0030.c
  c/src/p0034.c
  c/src/p0076.c
  c/src/p0836.c
  cplusplus/src/p0009.cpp
Due: C, C++

Reorder includes
  c/src/include/utils.h
  c/test.c
Due: C

Reorder includes
  cplusplus/test.cpp
Due: C++

Dangling else
  c/src/include/primes.h
Due: C

Try revamping factors.h (likely needs debug)
  c/src/include/factors.h
Due: C

fix up factors.h, arch detection error
  c/src/include/factors.h
  c/test_euler.py
  docs/src/c/lib/factors.rst
Due: C

minimize dependencies
  rust/Cargo.lock
  rust/Cargo.toml
Due: Rust

fix up clean recipe
  c/Makefile
  cplusplus/Makefile
Due: C, C++

minimize code
  c/src/include/factors.h
  cplusplus/Makefile
Due: C, C++

Solve p3 in C++
  README.rst
  cplusplus/README.rst
  cplusplus/src/include/primes.hpp
  cplusplus/src/p0003.cpp
  cplusplus/test.cpp
  cplusplus/test_euler.py
  docs/index.rst
  docs/src/cplusplus/lib/primes.rst
  docs/src/cplusplus/p0003.rst
Due: C++

Fix tags
  docs/src/cplusplus/p0003.rst
Due: none

Fix up test pages
  docs/_static/test-c.html
  docs/_static/test-cp.html
Due: none

Path conditions:
  C: any of: c/**, but not: rust/src/lib.rs
  C++: any of: cplusplus/**, but not: rust/src/lib.rs
  C#: any of: csharp/**, but not: rust/src/lib.rs
  Java: any of: java/**, but not: rust/src/lib.rs
  JavaScript: any of: javascript/**, but not: rust/src/lib.rs
  Python: any of: python/**, but not: rust/src/lib.rs
  Rust: any of: rust/**, but not: rust/src/lib.rs
